<ion-tabs>
  <ion-tab-bar class="custom-tab-bar" slot="bottom">

    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultas" href="/tabs/consultas">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agendar" href="/tabs/agendar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Agendar</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>
