<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Bem-vindo(a)!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Boas-vindas -->
  <div class="welcome-card" style="text-align:center; margin-bottom: 30px;">
    @if (username) {
      <h1 style="font-size: 2rem; margin-bottom: 10px;">Olá, {{ username }}!</h1>
    }
    <p>Que bom te ver por aqui. O que você gostaria de fazer hoje?</p>

  </div>

  <!-- Grid centralizado -->
  <ion-grid class="simple-grid">
    <ion-row class="ion-justify-content-center" style="flex-direction: column; gap: 15px;">
      <ion-col size="auto" class="grid-item">Agendadas: {{resumo.agendadas}}</ion-col>
      <ion-col size="auto" class="grid-item">Concluídas: {{resumo.concluidas}}</ion-col>
      <ion-col size="auto" class="grid-item">Canceladas: {{resumo.canceladas}}</ion-col>
      <ion-col size="auto" class="grid-item">Total: {{resumo.todas}}</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Espaço flexível -->
  <div style="flex: 1;"></div>

  <!-- Banner de dica no bottom -->
  <ion-card class="banner-card">
    <ion-card-header>
      <ion-card-title>Dica do Dia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Não se esqueça de vacinar seu pet no mês correto!
    </ion-card-content>
  </ion-card>
  
    <ion-button color="danger" (click)="logout()" expand="block" style="margin-top: 20px;">
      Logout
    </ion-button>


</ion-content>
