{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Lista de Animais</h1>
<div class="row">
  {% for animal in animais %}
  <div class="col-md-4 mb-3">
    <div class="card"> 
      <img src="https://img.freepik.com/fotos-premium/gatinho-cinza-pequeno-em-branco_136670-1667.jpg" class="card-img-top" alt="{{ animal.nome }}">
      <div class="card-body">
        <h5 class="card-title">{{ animal.nome }}</h5>
        <p class="card-text">
          Espécie: {{ animal.get_especie_display }}<br>
          Raça: {{ animal.raca }}
        </p>
        <p>
          Dono: {{ animal.dono.nome }}
        </p>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12 text-center">
    Nenhum animal cadastrado.
  </div>
  {% endfor %}
</div> 
{% endblock %}
