<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card class="consulta-card">
      @for (item of consultas; track $index) {
      <ion-card-header>
        <ion-card-subtitle>{{ item.data | date:'short' }}</ion-card-subtitle>
        <ion-card-title>Cliente: {{ item.animal.dono.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nome do Pet: {{ item.animal.nome }}</p>
        <p>Tipo de Espécie: {{ item.animal.tipo_especie }}</p>
        <p>Veterinario: {{ item.veterinario.nome }}</p>
        <p>Status: NONE</p>
      </ion-card-content>
      }
    </ion-card>
  </ion-list>
</ion-content>
